.imgtxt {
    position: absolute;
    top: 97%;
    left: 17.5%;
    ;
}

.main {
    background-color: rgb(56, 56, 56)
}

.img {
    background-color: rgb(0, 0, 0);
}

* {
    background-color: rgba(31, 30, 30, 0.61);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#em {
    margin-left: 0.2in;
    word-spacing: 10px;
    color: rgb(114, 151, 134);
}

.icon {
    background-color: black;
}

#about {
    margin-left: 0.2in;
    font-size: 55px;
}

#services {
    margin-left: 0.2in;
    font-size: 30px;
}

.head {
    font-size: 17px;
    /* margin-left: 0.2in; */
}

#dev {
    color: rgb(114, 151, 134);
    font-size: 15px;
    background-color: black;
}

#name {
    background-color: black;
    font-size: 30px;
}

.text {
    /* margin-left: 0.2in;
    margin-right: 0.2in; */
    color: rgba(228, 225, 225, 0.418);
}

.tdata {
    /* margin-left: 0.2in; */
}